<!doctype html>
<html ng-app="reddit-portal">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>RFP</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>

    <style type="text/css">
      body {
        padding-top: 20px;
      }
    </style>
  </head>
  <body>
    <div class="container" ng-controller="rpCtrl">
      <ul class="nav nav-pills nav-justified">
        <li><a ng-click="category = ''">ALL</a></li>
        <li><a ng-click="category = 'news'">NEWS</a></li>
        <li><a ng-click="category = 'science'">SCIENCE</a></li>
        <li><a ng-click="category = 'dev'">DEV</a></li>
      </ul>
      <table class="table table-responsive">
        <tbody>
          <tr ng-repeat="post in posts | orderBy:'-score' | filter:category">
            <td class="hidden-xs col-md-1"><a href="https://reddit.com/r/{{post.subreddit}}" class="label label-primary">{{post.subreddit}}</a></td>
            <td class="col-xs-12 col-md-8">
              <div class="visible-xs-* hidden-sm hidden-md hidden-lg">
                <a href="https://reddit.com/r/{{post.subreddit}}" class="label label-primary">{{post.subreddit}}</a>
                <span class="label label-primary">{{post.link_flair_text}}</span>
                <a href="https://{{post.permalink}}" class="label label-info">{{post.ups}} / {{post.num_comments}}</a>
              </div>
              {{post.title}} <a href="{{post.url}}">({{post.domain}})</a>
            </td>
            <td class="hidden-xs col-md-1"><span class="label label-primary">{{post.link_flair_text}}</span></td>
            <td class="hidden-xs col-md-1"><a href="https://reddit.com{{post.permalink}}" class="label label-info">{{post.num_comments}}</a></td>
          </tr>
        </tbody>
      </table>

    </div>

    <script>
      var app = angular.module("reddit-portal",[]);

      app.controller("rpCtrl", function rpCtrl($scope, rpFactory){
        $scope.posts = [];
        $scope.subreddits = [];
        $scope.status = "OK";
        $scope.category = "";

        function show() {

        }

        function getPosts() {
          rpFactory.getPosts().then(function(posts){
            angular.forEach(posts, function(value, key) {
              if (value.data.domain.indexOf("imgur.com") == -1) {
                var post = value.data;
                //console.log(post.ups + "\t" + post.num_comments + "\t" + (post.ups/post.num_comments) + "\t" + ((new Date()).getTime() - post.created));
                var numer = (post.num_comments == "NaN" ? 1 : post.num_comments) - post.score;
                var denom = (new Date()).getTime()/1000 - post.created;
                post.score = numer/denom;
                //console.log(numer + "\t" + post.score + "\t" + post.title.substring(0, 20));
                $scope.posts.push(post);
              }
            });
          });
        }

        function getSubreddits() {
          $scope.subreddits = rpFactory.getSubreddits();
        }

        function init() {
          getPosts();
          getSubreddits();
          console.log("READY");
        }

        init();
      });

      app.factory("rpFactory", ['$http','$q', function ($http, $q) {
        var rpFactory = {};
        var baseURL = "http://www.reddit.com/r/";
        var posts = [];
        var subreddits = [
          {"name":"worldnews","type":"news"},
          {"name":"worldpolitics","type":"news"},
          {"name":"space","type":"science"},
          {"name":"spacex","type":"science"},
          {"name":"science","type":"news"},
          {"name":"news","type":"news"},
          {"name":"geopolitics","type":"news"},
          {"name":"SpacePolicy","type":"science"},
          {"name":"nasa","type":"science"},
          {"name":"politics","type":"news"},
          {"name":"inthenews","type":"news"},
          {"name":"LegalNews","type":"news"},
          {"name":"Economics","type":"science"},
          {"name":"Worldevents","type":"news"},
          {"name":"NeutralPolitics","type":"news"},
          {"name":"TrueNews","type":"news"},
          {"name":"javascript","type":"dev"},
          {"name":"webdev","type":"dev"},
          {"name":"Web_Development","type":"dev"},
          {"name":"database","type":"dev"},
          {"name":"javascript","type":"dev"},
          {"name":"CSS","type":"dev"},
          {"name":"HTML5","type":"dev"},
          {"name":"websecurity","type":"dev"},
          {"name":"webapps","type":"dev"},
          {"name":"hosting","type":"dev"},
          {"name":"web_infrastructure","type":""}
        ];

        rpFactory.getPosts = function() {
          return $q.all(subreddits.map(function (item) {
            return $http({
              method: 'GET',
              url: baseURL + item.name + ".json"
            });
          }))
          .then(function (results) {
            results.forEach(function (val, i) {
              posts = posts.concat(val.data.data.children);
            });
            return posts;
          });
        };

        rpFactory.getSubreddits = function() {
          return subreddits;
        };

        rpFactory.addSubreddit = function(subreddit) {
          try {
            subreddits.push(subreddit);
            return true;
          } catch (e) {
            console.log(e);
            return false;
          }
        };

        rpFactory.removeSubreddit = function(subreddit) {
          try {
            angular.forEach(subreddits, function(value, key) {
              var indexToRemove = -1;
              if (value == subreddit) {
                indexToRemove = key;
              }
            });
            if (indexToRemove > -1) {
              subreddits.splice(indexToRemove, 1);
              return true;
            }
          } catch (e) {
            console.log(e);
            return false;
          }
        };

        return rpFactory;
      }]);
    </script>
  </body>
</html>
